@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    <div>
        <h1>Welcome to the Consumer Groups Alpha program!</h1>
    </div>
    <div>
        <h3>@ViewBag.InviteCompletedText</h3>
    </div>

@section footer {
    <p>&copy @DateTime.Now.Year - Microsoft</p>
}
