@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    <div>
    <h1>@ViewBag.InviteCompletedText</h1>
    </div>

@section footer {
    <p>&copy @DateTime.Now.Year - Microsoft</p>
}