@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<main id="mainContent" data-grid="container">
    
    <div data-grid="col-12" class="m-banner">
        <p class="c-paragraph-1">&nbsp;</p>
        <p class="c-paragraph-1">&nbsp;</p>
        <h2 class="c-heading-3">Welcome to the Consumer Groups Alpha program!</h2>
        <p class="c-paragraph-1">@ViewBag.InviteCompletedText</p>
        <p class="c-paragraph-1">&nbsp;</p>
        <p class="c-paragraph-1">&nbsp;</p>
        <p class="c-paragraph-1">&nbsp;</p>
    </div>
</main>


@section footer {
    <p>&copy @DateTime.Now.Year - Microsoft</p>
}
